# Quickly take some data and remove the rest

In [55]:
import pandas as pd

In [56]:
# data location
%ls ..\Data\Big\competition_data
DATA_PATH = '../Data/Big/competition_data'

 Volume in drive F is Work
 Volume Serial Number is 8A90-304F

 Directory of f:\Projects\DiveIntoCode\Data\Big\competition_data

11-Jul-18  05:51 PM    <DIR>          .
11-Jul-18  05:51 PM    <DIR>          ..
11-Jul-18  05:51 PM             6,148 .DS_Store
11-Jul-18  12:40 PM           329,525 depths.csv
11-Jul-18  12:40 PM           270,012 sample_submission.csv
11-Jul-18  12:19 PM    <DIR>          test
11-Jul-18  12:19 PM    <DIR>          train
11-Jul-18  12:40 PM           943,702 train.csv
               4 File(s)      1,549,387 bytes
               4 Dir(s)  396,698,415,104 bytes free

In [57]:
train = pd.read_csv(f'{DATA_PATH}/train.csv')
sample_submission = pd.read_csv(f'{DATA_PATH}/sample_submission.csv')
depth = pd.read_csv(f'{DATA_PATH}/depths.csv')
print('Shapes: ', [x.shape for x in [train,sample_submission, depth]])
train.head()

Shapes:  [(4000, 2), (18000, 2), (22000, 2)]

           id                                           rle_mask
0  2c45b152f1  99 3 197 6 295 9 395 10 494 12 594 13 694 14 7...
1  3cb59a4fdc                                             1 5656
2  e185ab5dc1  4647 2 4748 10 4849 18 4950 25 5051 29 5152 34...
3  c78c89577c                                              101 1
4  6306dd3a8e  1 30 102 29 203 29 304 28 405 27 506 27 607 26...

In [58]:

pruned_train = train.dropna().sample(1000)
print(pruned_train.shape)
pruned_train.head()

(1000, 2)

              id                                           rle_mask
359   668b41c03e  5455 1 5556 3 5657 5 5758 7 5859 8 5960 9 6061...
366   fa752c35ca  1 9191 9193 100 9295 99 9398 97 9501 95 9604 9...
2040  73a2f6fb22  1 4 102 6 203 8 304 13 405 19 506 23 607 25 70...
1566  739a9ab34a                                            10200 2
3173  a568cc8273  1942 5 2043 8 2144 12 2245 15 2346 18 2446 23 ...

In [59]:
pruned_sample_submission = sample_submission.sample(1000)
print(pruned_sample_submission.shape)
pruned_sample_submission.head()

(1000, 2)

               id rle_mask
11087  02337f94a9      1 1
55     952563a97e      1 1
8132   068f7a5267      1 1
4868   0e8e9e9b41      1 1
11286  f2f055154d      1 1

In [60]:
pruned_depth = pd.concat([pruned_train,pruned_sample_submission],ignore_index=True).merge(depth, on='id')[['id','z']]
print(pruned_depth.shape)
pruned_depth.head()

(2000, 2)

           id    z
0  668b41c03e  659
1  fa752c35ca  300
2  73a2f6fb22  642
3  739a9ab34a  435
4  a568cc8273  626

In [61]:
# save path
OUTPUT_PATH = '../Data/Big/small_salt_data'

In [62]:
# Save csv
pruned_train.to_csv(f'{OUTPUT_PATH}/train.csv', index=False)
pruned_sample_submission.to_csv(f'{OUTPUT_PATH}/sample_submission.csv', index=False)
pruned_depth.to_csv(f'{OUTPUT_PATH}/depths.csv', index=False)

### Now copy the images

In [63]:
import shutil

In [64]:
for train_id in pruned_train['id']:
    img_name = f'{train_id}.png'
    #copy img
    shutil.copyfile(f'{DATA_PATH}/train/images/{img_name}', f'{OUTPUT_PATH}/train/images/{img_name}')
    #copy mask
    shutil.copyfile(f'{DATA_PATH}/train/masks/{img_name}', f'{OUTPUT_PATH}/train/masks/{img_name}')

for sample_submission_id in pruned_sample_submission['id']:
    img_name = f'{sample_submission_id}.png'
    #copy img
    shutil.copyfile(f'{DATA_PATH}/test/images/{img_name}', f'{OUTPUT_PATH}/test/images/{img_name}')